<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/client.js"></script>
    <title>Tree ID</title>
  </head>

  <body>
    <h1>Tree ID</h1>

    <main>
      <input
        id="file-input"
        class="no-display"
        type="file"
        name="file"
        accept="image/*"
        onchange="showPicked(this)"
        hidden
      />
      <button type="button" onclick="showPicker()">
        Upload photo
      </button>

      <div class="image" hidden>
        <img id="image-picked" hidden alt="Chosen Image" height="200" />
        <label id="upload-label"></label>
      </div>

      <div id="result" hidden></div>

      <div id="feedback" hidden>
          <p>Is this right?</p>
          <button type="button" name="YES" onclick="sendFeedback(this)">Don't know</button>
          <button type="button" name="CAS" onclick="sendFeedback(this)"></button>
          <button type="button" name="PLA" onclick="sendFeedback(this)"></button>
          <button type="button" name="QUE" onclick="sendFeedback(this)"></button>
          <button type="button" name="ACE" onclick="sendFeedback(this)"></button>
      </div>

      <div id="thanks" hidden>Thank you! Your feedback is used to improve the classification model.</div>
    </main>
  </body>
</html>
